<a href="https://colab.research.google.com/github/jungnerd/tensorflow_nlp_tutorial/blob/main/nlp_1_4_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 판다스(Pandas)

In [7]:
import pandas as pd

## 1) 시리즈(Series)

In [8]:
sr = pd.Series([17000, 18000, 1000, 5000],
               index = ['피자', '치킨', '콜라', '맥주'])

In [9]:
print("시리즈 출력 :")
print("-"*15)
print(sr)

시리즈 출력 :
---------------
피자    17000
치킨    18000
콜라     1000
맥주     5000
dtype: int64

In [10]:
print("시리즈의 값 : {}".format(sr.values))
print(f"시리즈의 인덱스 : {sr.index}")

시리즈의 값 : [17000 18000  1000  5000]
시리즈의 인덱스 : Index(['피자', '치킨', '콜라', '맥주'], dtype='object')

## 2) 데이터프레임(DataFrame)

In [11]:
values = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
index = ['one', 'two', 'three']
columns = ['A', 'B', 'C']

In [12]:
df = pd.DataFrame(values, index=index, columns=columns)

In [13]:
print("데이터프레임 출력 :")
print('-'*18)
print(df)

데이터프레임 출력 :
------------------
       A  B  C
one    1  2  3
two    4  5  6
three  7  8  9

In [15]:
print("데이터프레임의 인덱스 : {}".format(df.index))
print("데이터프레임의 열이름 : {}".format(df.columns))
print("데이터프레임의 값 :")
print("-"*18)
print(df)

데이터프레임의 인덱스 : Index(['one', 'two', 'three'], dtype='object')
데이터프레임의 열이름 : Index(['A', 'B', 'C'], dtype='object')
데이터프레임의 값 :
------------------
       A  B  C
one    1  2  3
two    4  5  6
three  7  8  9

## 3) 데이터프레임의 생성

리스트와 딕셔너리를 사용해여 데이터프레임을 생성하는 예제

In [18]:
#리스트로 생성하기
data = [
        ['1000', 'Steve', 90.72],
        ['1001', 'James', 79.09],
        ['1002', 'Doyeon', 98.43],
        ['1003', 'Jane', 64.19],
        ['1004', 'Woojun', 99.92],
        ['1005', 'Tony', 89.13]
]

df = pd.DataFrame(data)
print(df)

      0       1      2
0  1000   Steve  90.72
1  1001   James  79.09
2  1002  Doyeon  98.43
3  1003    Jane  64.19
4  1004  Woojun  99.92
5  1005    Tony  89.13

In [19]:
#열이름 지정
df = pd.DataFrame(data, columns=['학번', '이름', '점수'])
print(df)

     학번      이름     점수
0  1000   Steve  90.72
1  1001   James  79.09
2  1002  Doyeon  98.43
3  1003    Jane  64.19
4  1004  Woojun  99.92
5  1005    Tony  89.13

In [21]:
#딕셔너리로 생성하기
data = {
    '학번' : ['1000', '1001', '1002', '1003', '1004', '1005'],
    '이름' : ['Steve', 'James', 'Doyeon', 'Jane', 'Woojun', 'Tony'],
    '점수' : [90.72, 79.09, 98.43, 64.19, 99.92, 89.13]
}

df = pd.DataFrame(data)
print(df)

     학번      이름     점수
0  1000   Steve  90.72
1  1001   James  79.09
2  1002  Doyeon  98.43
3  1003    Jane  64.19
4  1004  Woojun  99.92
5  1005    Tony  89.13

## 4) 데이터프레임 조회하기

In [22]:
#앞부분 3개만 보기
print(df.head(3))

     학번      이름     점수
0  1000   Steve  90.72
1  1001   James  79.09
2  1002  Doyeon  98.43

In [23]:
#뒷부분 3개만 보기
print(df.tail(3))

     학번      이름     점수
3  1003    Jane  64.19
4  1004  Woojun  99.92
5  1005    Tony  89.13

In [24]:
#'학번'에 해당되는 열 보기
print(df['학번'])

0    1000
1    1001
2    1002
3    1003
4    1004
5    1005
Name: 학번, dtype: object

## 5) 외부 데이터 읽기

Pandas는 CSV, text, Excel, SQL, HTML, JSON등 다양한 데이터 파일을 읽고 데이터프레임을 생성할 수 있습니다.

예를 들어, CSV 파일을 읽을 때는 

```
pandas.read_csv()
```
을 통해 읽을 수 있습니다.